extends layout 

block content 
    h1 Welcome to Music Shop
    h2 #{title}
    ul 
        for each in categories
            li #{each.name}
            a(href="/catalog/items/:#{each.name}") Link
            br

    a(href="/catalog/items") Show me everything  


