extends layout 

block content 
    h1 Welcome to SV's Music Shop
    h2 #{title}
    ul 
        for each in categories
            li 
                a(href=`/catalog/items/${each.name}`) #{each.name}
            br

    a(href="/catalog/items") Show me everything  

