extends layout 

block content 
    h1 #{title}
    br
    for each in items
        p #{each.name}
            li Price : $#{each.price}
            li Qty : #{each.quantity}

    a(href="/") Take me Home