extends layout

block content 
    h1 #{title}

    form(action="/catalog/items", method="post")
        p
        | Name 
        input(type="text")
        br
        | Description 
        input(type="text")
        br
        | Category 
        input(type="text")
        br
        | Price 
        input(type="text")
        br
        | Brand 
        input(type="text")
        br
        | Model 
        input(type="text")
        br
        | Quantity 
        input(type="text")
        br
        input(type="submit", value="Add Instrument")