extends layout

block content 
    h1 #{title}

    form(action="/catalog/items/addNew", method="post")
        p
        | Name 
        input(type="text", name="name", id="name", required)
        br
        | Description 
        input(type="text", name="description", id="description", minLength = 10 ,required)
        br
        p Category
            br
            input(type="radio", name="category", value="keys", required)
            | Keys
            input(type="radio", name="category", value="strings")
            | Strings
            input(type="radio", name="category", value="percussion")
            | Percussion
            input(type="radio", name="category", value="wind")
            | Wind
        br
        | Price 
        input(type="number", name="price", id="price", required)
        br
        | Brand 
        input(type="text", name="brand", id="brand", required)
        br
        | Model 
        input(type="text", name="model", id="model", required)
        br
        | Quantity 
        input(type="number", name="quantity", id="quantity", required)
        br
        input(type="submit", value="Add Instrument")